@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Work+Sans');

@import url('https://fonts.googleapis.com/css?family=Poor+Story');

h1{
	color:black;
	font-size: 100px;
	font-family: 'Shadows Into Light Two', cursive;
	text-align:;

}