body{
	margin: 0;
	font-family:'Oxygen', sans-serif;
	font-weight: 400;
}

@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

h1{
	font-weight: 700;
	text-align: center;
	margin: 25px;
	font-size: 50px;
}

/* nav*/

ul li{
	font-size: 18px;
}

.navbar__logo__zumba{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#carouselExampleFade{
	width: 60%;
	margin-left: 20%;
}

h2{
	font-weight: 700;
	text-align: center;
	margin: 25px;
	font-size: 50px;

}
.img-fluid{
	height: 30%;
	width: 30%;
	margin: 4px;
	padding: 4px;
	border-color:#ffbf00;
	border-radius:20px;
	border-width:5px;
	border-style:solid; color:black; 
	margin: 7px;
	color:black;
}

.clase{
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray; 
}

p{
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
	padding: 15px;
}