
/*media*/
@media screen and (min-width: 780px) and (max-width: 1024px){

}
@media screen and (min-width: 480px) and (max-width: 780px){

}
@media screen and (max-width: 480px) {

}
/* viewport*/
@viewport{

    zoom: 1.0;
    width:device-width;
}

/*tipo de letra*/

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Work+Sans');

@import url('https://fonts.googleapis.com/css?family=Poor+Story');

/*body*/
body{
	margin: 0; 
}
/* nav*/

.navbar__logo__zumba{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

ul li{
	list-style: none;
	display: inline;
	margin:5px;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 15px;
	height:60px;

}

/*header*/
.row h1{
	color:black;
	font-size: 100px;
	font-family: 'Shadows Into Light Two', cursive;
	text-align: center;
}



.container{
	background-color: ;
	
}

.header{
	width: 88rem;
 	margin-top: 10px; 
 	border: 10px; 
 	border-style: solid; color:black; 
 	border-radius: 20px;
 	margin-left: 10%;
}

.header__img{
	border-radius: 50%;
	margin-left: 40%;
	max-width: 420

}
.card-title{
	text-align: center;
}

p{
	margin: 10px;
	padding: 15px;
	font-family: 'Poor Story', cursive;
	font-size: 25px;
}

/* blog*/

.container h2{
	color:#302e2e;
	font-size: 80px;
	font-family: 'Shadows Into Light Two', cursive;
	text-align: center;
}

.card{
	border-color:white;
	border-radius: 20px;
	border-width: 8px;
	border-style: solid; color:black; 
	margin: 7px;
	color:black;
}

.card-body p{
	text-align: center;
	color:black;
}
.card-text p{
	color: pink;
}
.
.btn-primary{
	background-color: #eeeeee;
	color: black;
	border-color: #d8d8d8;

}
.section1{
	margin: 20px 30px 20px 30px;

}
.card-img-top{
	margin-left: 40%;
	margin-top: 7px;
	margin-bottom: 7px;
}

.card-text{
	background-color: white;
}

/* features*/
.container h3{
	color:#fffcfc;
	font-size: 80px;
	font-family: 'Shadows Into Light Two', cursive;
	text-align: center;
	margin: 15px;
	padding: 25px;
}
.container h4{
	color:#fffcfc;
	font-size: 80px;
	font-family: 'Shadows Into Light Two', cursive;
	text-align: center;
	margin: 15px;
	padding: 25px;
}

.container h6{
	color:#fffcfc;
	font-size: 80px;
	font-family: 'Shadows Into Light Two', cursive;
	text-align: center;
	margin: 15px;
	padding: 25px;

}

.calcula{
	font-size: 20px;
	font-family: 'Shadows Into Light Two', cursive;
	color:#fffcfc;
}

/* footer*/

.copyright{
	background-color:black;
	margin-top:0px;
}
.footer__logo{
	width: 10%;
	height: 10%;
	float: left;
	padding: 3px;
	margin: 0px;
}



