body{
	margin: 0;
	font-family:'Oxygen', sans-serif;
	font-weight: 400;

}

/*tipo de letra*/
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

/* nav*/

.navbar__logo__zumba{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/*header*/
h1{
	font-weight: 700;
	text-align: center;
	margin: 25px;
	font-size: 50px;
}

.container{
	width: 30%;
	height: 30%;
	margin-top: 4px;
	display: inline-flex;
	margin-left: 5px;
}

/*Uso de media Querys*/
/*media*/
@media screen and (min-width: 780px) and (max-width: 1024px){
	body{
 	background-color:green;
 }
}
@media screen and (min-width: 480px) and (max-width: 780px){
	body{
 	background-color:yellow;
 }

}
@media screen and (max-width: 480px) {
	body{
 	background-color:red;
 }


}